@media (min-width: 768px) {
    .contactTitle {
        border-bottom: solid black 1px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start
    }
    .contactad {
        margin: auto;
        margin-top: 10vh;
        background-color: rgb(255, 255, 255, 0.8);
        border: solid black 1px;
        border-radius: 3px;
        box-shadow: 3px 3px 15px rgb(49, 49, 49);
        width: 600px;
        margin-bottom: 550px;
    }
    .optionSurvey {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .deets {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .detailSurvey {
        /* align-self: center; */
        /* text-align: center; */
        margin-left: 40px;
    }
    .submitSurvey {
        align-self: center;
    }
}

@media (max-width: 767px) {
    /* .contactad{
        border-bottom: solid black 1px;
        width: 100px;
    } */
    .contactad {
        margin: auto;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255, 0.8);
        border: solid black 1px;
        border-radius: 3px;
        box-shadow: 3px 3px 15px rgb(49, 49, 49);
        width: 300px;
    }
    .surveyTitle{
        margin: 10px 10px;
    }
}