body {
    background-color: white;
}

.appStructure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.appNav{
    top: 0px;
    width: 100%;
}

.appFooter{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}