@media (min-width: 768px) {
    .footerWrapper {
        background-color: rgba(192, 192, 192, 0.7);
        color: white;
        border: 1px solid gray;
        box-shadow: 3px 3px 10px gray;
    }
    .footerBod {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home {
        padding: 5px 10px;
        text-decoration: none;
        color: white;
    }
    .toPage {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 767px) {
    .footerWrapper {
        background-color: rgba(192, 192, 192, 0.7);
        color: white;
        border: 1px solid gray;
        box-shadow: 3px 3px 10px gray;
        position: relative;
    }
    .footerBod {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home {
        display: none;
    }
    .toPage {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}